// Override this file to add your own SCSS styling.

.experience-icon-image {
  width: 80px;
  max-width: unset;
}

.home-prj-img-icon-wrap {
  /*display: grid;
  place-items: center;*/

  .home-project-icon-image {
    /*max-width: 150px !important;*/
    margin-top: 0.5rem;

  }
}

@media (max-width: 640px) {

}
